<template class="palette_template">
	{{> util/palette}}
</template>
<template class="overlay_wrapper">
	{{> overlay/overlay}}
</template>
<template class="input_div">
	{{> overlay/input_div}}
</template>
<template class="checkbox_input">
	<div class="input_div input_div_checkbox">
		<input type="checkbox">
		<label></label>
	</div>
</template>	
<template class="not_found">
	<div class="not_found_wrapper">
		<div class="not_found_inner">
			<h1>¯\_(ツ)_/¯</h1>
			<h2>There's nothing to see here, yet.</h2>
		</div>
	</div>
</template>
<template class="control_overlay_wrapper">
	{{> overlay/manage_people}}
</template>