<h1 class="login title">Log into {{universal.app_name}}</h1>
<p>Logging in will redirect you to your own account, where you can add and manage new palettes. You can also add other people to your palette, allowing you to work together easily.</p>
<p>After logging in with Google, we will receive your first and last name, and also your profile picture and e-mail adress. This information will be displayed on your profile.</p>
<a href="/login/" class="login">Log in with Google</a>

<br><img src="https://media0.giphy.com/media/yFQ0ywscgobJK/giphy.gif">