
<link rel="stylesheet" href="/css/not_found.css">

<div class="not_found_page">
	<div class="not_found_page_inner">
		<h1>Sorry, this page couldn't be found!</h1>
	</div>
	<canvas></canvas>
</div>

<script src="/js/not_found.js"></script>