<script defer src="/js/search.js"></script>
<script src="/js/can_edit.js"></script>
<link rel="stylesheet" href="/css/small_collection.css">
<div class="search_layout">

	<div class="palette_section_wrapper">
		<div class="user_nav">
			<a>
				<div class="current">
					Palettes
				</div>
			</a>
		</div>
		<div class="search_palettes palettes"></div>
	</div>
	
	<div class="user_section_wrapper">
		<div class="user_nav">
			<a>
				<div class="current">
					Users
				</div>
			</a>
		</div>
		<div class="search_users"></div>
	</div>

	<div class="collection_section_wrapper">
		<div class="user_nav">
			<a>
				<div class="current">
					Collections
				</div>
			</a>
		</div>
		<div class="search_collections collection_grid"></div>
	</div>

</div>