.collection_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: var(--gap);
}

@media screen and (max-width: 600px) {
	.collection_grid {
		grid-template-columns: 100%;
	}
}

.card {
	border: 1px solid var(--border);
	padding: var(--gap_large) var(--gap);
	border-radius: 4px;
	transition: background 150ms;
}
.card:not(.add_collection) {
	padding-bottom: var(--gap);
}

.card .title {
	margin: 0;
}
.card .description {
	margin: 0;
	margin-top: var(--gap_small);
	color: var(--secondary);
}


.card:hover {
	background: var(--hover);
}

.card .sub {
	margin-top: var(--gap);
	color: var(--secondary);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.card .sub > span:after {
	content: "•";
	margin: 0 var(--gap);
	width: 100%; height: 100%;
	opacity: 0.5;
}
.card .sub:last-child > span:last-child:after {
	content: "";
	display: none;
}

.anchor {
	color: var(--text);
}
.anchor:hover {
	text-decoration: underline;
}

.add_collection {
	cursor: pointer;
}
.small_collection:not(.add_collection) .small_collection_inner {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	height: 100%;
}

.small_collection .title_inner, .small_collection .description {
	word-break: break-word;
	width: 100%;
}

.add_collection .small_collection_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.add_collection svg {
	display: block;
	color: var(--secondary);
	transition: color 150ms;
}
.add_collection:hover svg {
	color: var(--text);
}

.no_collections {
	grid-template-columns: 100%;
}