.collection_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: var(--gap);
}
.card {
	border: 1px solid var(--border);
	padding: var(--gap_large) var(--gap);
	border-radius: 4px;
	transition: background 150ms;
}

.card .title {
	margin: 0;
}
.card .description {
	margin: 0;
	margin-top: var(--gap_small);
}

.card:hover {
	background: var(--hover);
}