<div class="aside_user">
	<div class="user_img_div">
		<img src="{{get_photo page.user}}" class="pfp" alt="User's profile picture">
	</div>
	<div class="user_context">
		<h2>{{page.user.user.displayName}}</h2>
		{{#if page.user.bio}}<p>{{page.user.bio}}</p>{{/if}}
	</div> 

	<div class="user_actions">
		{{#if is_same_user}}
		<hr>
		<button class="button_large" onclick="new_palette();">
			<div class="icon_div">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>	
			</div>
			<div class="text_div">
				New palette
			</div>
		</button>
		{{/if}}
	</div>
</div>
