<div class="small_collection card">
	<div class="small_collection_inner">
		<div class="small_collection_core">
			<a class="link anchor">
				<h3 class="title collection_title"><span class="title_inner"></span></h3>
			</a>
			<p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et , no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
		<div class="sub">
			<span class="palette_count">0 palettes</span>
			<span class="user_list">
				<a href="/u/jip/">
					<img alt="Profile picture" class="pfp_small pointer" src="/image/jip">
				</a>
			</span>
		</div>
	</div>
</div>