<div class="overlay_wrapper">
	<div class="overlay_inner overlay_inner_manage">
		<div class="inner_wrapper">
			<div class="card_top">
				<h2 class="title">Available collections</h2>
			</div>
			<div class="fields">

				<div class="smallest_collection">
					<h3 class="title collection_title"><span class="title_inner">Temporary collection title</span></h3>
					<div class="collection_add_button">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
					</div>
				</div>
			
			</div>
		</div>
		<div class="overlay_btns">
			<button class="style cancel btn_hover" onclick="remove_overlays()">Exit</button>
		</div>
	</div>
</div>