<div class="overlay_wrapper">
	<div class="overlay_inner">
		<div class="inner_wrapper">
			<div class="card_top">
				<h2 class="title">Manage people</h2>
			</div>
			<div class="fields">

			</div>
		</div>
		<div class="overlay_btns">
			<button class="style submit"></button>
			<button class="style cancel" onclick="remove_overlays();">Cancel</button>
		</div>
	</div>
</div>