<!-- Just temporarily, to give you an idea of what it'll be like -->
<div class="palettes">
	{{> util/palette }}
	{{> util/palette }}
	{{> util/palette }}
	{{> util/palette }}
	{{> util/palette }}
</div>