
<link rel="stylesheet" href="/css/small_collection.css">

<div class="user_collections_wrapper">
	<div class="user_collections collection_grid">

	</div>
</div>

<script src="/js/user_collections.js"></script>